<ifModule mod_headers.c>
Header set Referrer-Policy "no-referrer-when-downgrade"
</ifModule>

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^login/?$ /index.php?base=main&section=login [L,QSA]
RewriteRule ^exit/?$ /index.php?base=main&section=exit [L,QSA]
RewriteRule ^version/?$ /index.php?base=main&section=version [L,QSA]
RewriteRule ^shopping/([-a-zA-Z0-9_]*)/?$ /index.php?base=users&path=shop_service&section=$1 [L,QSA]
RewriteRule ^access/?$ /index.php?base=main&section=access [L,QSA]
RewriteRule ^url/?$ /index.php?base=main&section=url [L,QSA]
RewriteRule ^warning/?$ /index.php?base=main&section=warning [L,QSA]
RewriteRule ^languages/?$ /index.php?base=main&section=languages [L,QSA]
RewriteRule ^registration/?$ /index.php?base=main&section=registration [L,QSA]
RewriteRule ^password/?$ /index.php?base=main&section=password [L,QSA]
RewriteRule ^admin/([-a-zA-Z0-9_]*)/([-a-zA-Z0-9_]*)/?$ /index.php?base=panel&path=$1&section=$2 [L,QSA]
RewriteRule ^admin/?$ /index.php?base=panel&path=desktop [L,QSA]
RewriteRule ^id([0-9]*) /index.php?base=users&path=account&subpath=page&section=page&id=$1 [L,QSA]
RewriteRule ^public/([-a-zA-Z0-9_]*)?$ /index.php?base=modules&path=communities&section=show&id=$1 [L,QSA]
RewriteRule ^account/([-a-zA-Z0-9_]*)/?$ /index.php?base=users&path=account&subpath=$1 [L,QSA]
RewriteRule ^shop/([-a-zA-Z0-9_]*)/?$ /index.php?base=users&path=shop_service&subpath=$1 [L,QSA]
RewriteRule ^account/([-a-zA-Z0-9_]*)/([-a-zA-Z0-9_]*)/?$ /index.php?base=users&path=account&subpath=$1&section=$2 [L,QSA]
RewriteRule ^m/([-a-zA-Z0-9_]*)/([-a-zA-Z0-9_]*)/?$ /index.php?base=modules&path=$1&section=$2 [L,QSA]

##Отдача файлов браузеру
RewriteRule ^photo/([0-9]*)/([0-9]*)/? /files/download/photo.php?size=$1&id=$2 [L,QSA]
RewriteRule ^video/([0-9]*)/? /files/download/video.php?id=$1 [L,QSA]
RewriteRule ^file/([0-9]*)/? /files/download/file.php?id=$1 [L,QSA]
RewriteRule ^music/([0-9]*)/? /files/download/music.php?id=$1 [L,QSA]

</IfModule>

<IfModule php_value>

php_value register_globals 0 
php_value magic_quotes_gpc 0 
php_value session.use_trans_sid 1 
php_value session.cookie_lifetime 0

</IfModule>

AddDefaultCharset UTF-8
DirectoryIndex index.php
Options -Indexes
AddType text/vnd.wap.wml;charset=utf-8 .wml
AddType application/vnd.sonyericsson.mms-template tpl
AddType application/vnd.wap.wmlc .wmlc
AddType text/vnd.wap.wmlscript .wmls
AddType application/vnd.wap.wmlscriptc .wmlsc
AddType image/vnd.wap.wbmp .wbmp
AddType application/vnd.eri.thm .thm 
AddType application/vnd.mophun.application .mpn  
AddType application/vnd.mophun.certificate .mpc
AddType text/vnd.sun.j2me.app-descriptor .jad
Addtype text/x-vmel .mel
Addtype audio/imelody .imy
AddType application/vnd.smaf .mmf
Addtype text/x-vmel .emy
AddType audio/amr .amr
AddType audio/x-wav .wav
AddType application/x-tar .hid
Addtype image/jpeg .jpg 
Addtype image/jpeg .jpeg 
Addtype image/gif .gif 
Addtype image/png .png 
Addtype image/bmp .bmp 
Addtype text/x-imelody .imy 
Addtype text/x-emelody .emy 
Addtype text/x-vcard .vcf 
Addtype text/x-vcalendar .vcs 
Addtype text/calendar .ics 
Addtype application/smil .smil 
Addtype application/smil .smi 
Addtype application/java-archive .jar 
Addtype application/vnd.symbian.install .sis 
Addtype audio/wav .wav 
Addtype audio/midi .midi 
Addtype audio/midi .mid 
Addtype audio/rmf .rmf 
Addtype application/vnd.wap.mms-message .mms 
AddType video/flv .flv
AddType video/mp4 .mp4
Addtype video/3gpp .3gp
Addtype application/zip .zip
Addtype audio/mpeg .mp3
AddHandler application/x-httpd-php .html
AddHandler cgi-script .pl .py .jsp .asp .htm .shtml .sh .cgi
AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml
AddType application/octet-stream .doc .mov .avi .pdf .xls 
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

ErrorDocument 400 /warning/?status=400
ErrorDocument 401 /warning/?status=401
ErrorDocument 402 /warning/?status=402
ErrorDocument 403 /warning/?status=403
ErrorDocument 404 /warning/?status=404